h1{font-size: 25px; position: relative; left: 100px;}
h2{font-size: 25px;}
.card {
    width: 18rem;
}

.navbar{
    background-color: #e3f2fd;
}
.navbar-brand{
    height: 50px; 
    width: 200px;
    position: relative;
    right: -80px;
}
.navbar-brand img{
    margin-top: -5px;
}
.container{
    margin: 0 auto; 
    width: 100%;
}
#conteudo{
    margin: 0 auto; 
    width: 85%;
}
#rodape{
    border-top: 1px solid navy; 
    text-align: center;
    margin-top: 100px;
}
#contato{
    position: relative;
    left: 100px;
}
#contato button{
    width: 15%;
    margin-top: 20px;
    position: relative;
    left: 1%;
}
#contato input{
    width: 40%;
    margin: 2px;
}
#contato textarea{
    width: 40%;
    margin: 2px;
}
#menu{
    position: relative;
    left: -70px;
    font-style: initial;
}
