<%- contentFor('body') %>

<div id="conteudo">
    <br/>
    <h2>Locais Interessantes no Campus Unifor</h2>
    <br/>
  <div class="row">  
      <div class="col-4">
          <div class="card">
              <img class="card-img-top" src="img/unifor frente.png" alt="Imagem de capa do card">
              <div class="card-body">
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
              </div>
          </div>    
      </div>
      <div class="col-4">
          <div class="card">
              <img class="card-img-top" src="img/teatro.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
              </div>
          </div>    
      </div>
      <div class="col-4">
          <div class="card">
              <img class="card-img-top" src="img/biblioteca.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
              </div>
          </div>
      </div>
      </div>
      <br/>
      <br/>
  </div>
  <h1>Entre em Contato com a gente :)</h1>
  <div>
      <form class="row row-cols-lg-auto g-1 align-items-center">
      <div class="row g-3 align-items-center" id="contato">
          <input type="text" class="form-control mr-sm-2" placeholder="Informe seu nome" />
          <input type="text" class="form-control mr-sm-2" placeholder="Informe seu sobrenome" />
          <input type="e-mail" class="form-control mr-sm-2" placeholder="Informe seu e-mail"/>
          <input type="tel" class="form-control mr-sm-2" placeholder="informe seu telefone"/>
          <textarea type="text" class="form-control mr-sm-2" placeholder="Descreva seu contato"></textarea>
          <button class="btn btn-outline-primary" type="button">Enviar Contato</button>
      </div>
      </form>
</div>