<%- contentFor('body') %>

<div id="telefone">
    <table class="table" method="GET" action="/telefone">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Setor</th>
            <th scope="col">Telefones</th>
            <th scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Administrativo</td>
            <td>(85) 30121121</td>
            <td>adm@contato.com</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Financeiro</td>
            <td>(85) 30122323</td>
            <td>financeiro@contato.com</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Recursos Humanos</td>
            <td>(85) 30121212</td>
            <td>rh@contato.com</td>
          </tr>
        </tbody>
      </table>
</div>

<style>
    #rodape{
        margin-top: 390px;
    }
</style>

